<app-menu (titleSearch)="goHome($event)"></app-menu>

<div class="card-photo-selecionado">
    <img src={{this.photo.urls.regular}} title={{this.photo.alt_description}}>

    <div class="card-content">

        <h1>{{this.photo.description || this.photo.alt_description}}</h1>
        <p>Carregado por {{this.photo.user.username}}</p>

        <div class="item-links">
            <div class="user">
                <img class="avatar" src={{this.photo.user.profile_image.small}} title={{this.photo.user.username}}>
                <span>{{this.photo.user.username}}</span>
            </div>

            <a class="btn-download" href={{this.photo.links.download}}  id="btn-down-here" target="_blank" aria-label="Abra a imagem num nova aba para fazer o download">
                <i class="material-icons">file_download</i>
                <span>Download</span>
            </a>

        </div>
    </div>
</div>

<div class="list-card">
    <p>Mais deste autor</p>
    <app-gallery [list]="this.item"></app-gallery>
</div>