.navbar-brand img {
    height: 40px;
    width: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    background-color: var(--gray-500);

    .menu-superior {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding-bottom: 0;
    }
}

.list-category {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--gray-600);


    .card-category {
        display: flex;
        align-items: center;
        padding: 15px 25px;
        margin: 0;
        color: var(--text-color-300);
        font-size: 1rem;
        white-space: nowrap;

        &:hover {
            color: var(--text-color-400);
            cursor: pointer;
        }
    }
}

.user-github {
    color: var(--text-color-300);
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        --px: 30px;
        border-radius: 50%;
        width: var(--px);
        height: var(--px);
        object-fit: cover;
        border: 1px solid var(--gray-600);
    }

    &:hover {
        color: var(--text-color-400);
    }
}


// Barra de rolagem
.list-category {
    scrollbar-width: thin;
    scrollbar-color: var(--azul-400) transparent;
}

.list-category::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.list-category::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.list-category::-webkit-scrollbar-thumb {
    background-color: var(--azul-700);
}


// desktops, telas grandes
@media screen and (max-width:1200px) and (min-width:1025px) {
    .list-category {
        overflow-y: auto;
        justify-content: flex-start;
    }
}

// iPads, tablets, telas pequenas, laptops
@media screen and (max-width: 1024px) and (min-width: 481px) {
    .list-category {
        overflow-y: auto;
        justify-content: flex-start;
    }
}

// dispositivos móveis
@media screen and (max-width: 480px) {
    .list-category {
        overflow-y: auto;
        justify-content: flex-start;
    }
}