.card-search {
    background-image: url('https://images.unsplash.com/photo-1673916010229-939ea63fbc54?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzOTgxNjl8MHwxfGFsbHx8fHx8fHx8fDE2NzM5OTk4NzU&ixlib=rb-4.0.3');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    padding: 120px;
    text-align: center;
    margin-bottom: 25px;
    
    .campo-input {
        width: 100%;
        background-color: var(--gray-400);
        border: 1.5px solid var(--gray-600);
        border-radius: 999px;
        font-size: 1rem;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            background-color: transparent;
            border: 0;
            outline: none;

            &::before {
                font-family: 'Material Icons';
                content: '\e8b6';
                color: var(--text-color-300);
                font-size: 24px;
            }

            &:hover {
                color: var(--text-color-400);
                cursor: pointer;
            }

        }

        input {
            width: 100%;
            color: var(--text-color-400);
            border: 0;
            background-color: transparent;
            outline: none;
            font-size: 1rem;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: var(--text-color-300);
                font-family: 'Roboto', sans-serif;

            }

        }
    }
}

// iPads, tablets, telas pequenas, laptops
@media screen and (max-width: 1024px) and (min-width: 481px) {
    .card-search {
        padding: 80px 27px;
    }
}

// dispositivos móveis
@media screen and (max-width: 480px) {
    .card-search {
        padding: 80px 27px;
    }

    .card-hover {
        display: none;
    }

}