<div class="card-search" >
    <!-- TOTmz2mrPhQ -->
    <div class="campo-input">
        <input type="text" name="" id="" placeholder="Pesquise a foto">
    </div>
</div>



<app-gallery [list]="this.item"></app-gallery>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item ">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>